/*
 * S. americana profile — pySCENIC regulon analysis
 */

params {
    species_name     = 'S. americana'
    gff              = '/home/davidbellini/OneDrive/gabbiani/PROJECTS/americanaAnnotation2026/americana_bellini2026/americana_bellini2026.genomic.gff'
    genome_fasta     = '/home/davidbellini/OneDrive/gabbiani/PROJECTS/americanaAnnotation2026/sheina_americana_annotation_2025/SA.fna'
    atlas_h5ad       = '/home/davidbellini/files/workspace/americana_atlas3/R_analysis/sa3_labeled_apr14.h5ad'
    // Ortholog generation from BLAST maps (ortholog_file left null → generated at runtime)
    blast_map        = '/home/davidbellini/files/workspace/americana_atlas3/results/blast_maps/maps/safl/sa_to_fl.txt'
    sp_headers       = '/home/davidbellini/files/workspace/americana_atlas3/results/blast_maps/sa3_headers_prot.tsv'
    cluster_names    = '/home/davidbellini/OneDrive/gabbiani/PROJECTS/all_atlases/SCENIC/americana/inputs/cluster_names.csv'
    gff_key          = '/home/davidbellini/files/workspace/americana_atlas3/R_analysis/americana_gffKey_bellini2026.tsv'
    cluster_col      = 'cell_type'
    cluster_name_col = 'cell_type'
    motif_list       = '/home/davidbellini/OneDrive/gabbiani/PROJECTS/all_atlases/SCENIC/americana/inputs/motif_list_available.txt'

    // Pre-computed imports (set to null to recompute)
    grn_import       = null
    cistarget_import = '/home/davidbellini/files/workspace/SCENIC_nextflow/nextflow/test_results/step5_cistarget/sa_test.regions_vs_motifs.rankings.feather'

    // For local GRN (only needed if grn_import is null)
    tf_list          = '/home/davidbellini/OneDrive/gabbiani/PROJECTS/all_atlases/SCENIC/americana/inputs/americana_TFs.csv'

    // cisTarget DB prefix
    cistarget_prefix = 'sa_v5'
}
